{% assign lang = page.lang | default: site.default_lang | default: "en" %}
{% assign T = site.data.i18n[lang] | default: site.data.i18n.en | default: {} %}

<div class="menu-bottom">
  <ul>
    {% for item in site.data.menu.bottom %}
    {% assign label = T.bottom[item.key] | default: item.name %}

    {% assign href = item.url %}
    {% if href and href != "#" and href contains "://" %}
    {# absolute URL: leave as is #}
    {% elsif href == "#" %}
    {# anchor #}
    {% else %}
    {% if lang != site.default_lang %}
    {% assign href = '/' | append: lang | append: item.url %}
    {% endif %}
    {% endif %}

    <li class="menu-item-{{ item.key | default: item.name | slugify }}">
      <a href="{{ href | relative_url }}">{{ label }}</a>
    </li>
    {% endfor %}
  </ul>
</div>