{% assign data = site.data.openstreetmap %}
<div class="section openstreetmap">
  <div class="container">
    <div class="row bg-primary-bg rounded-4 p-2">
      <div class="col-12 col-md-6 pb-3">
        <div class="d-flex flex-wrap align-items-center gap-3">
          <div class="homepage-icon" style="background: {{ data.icon_bg_color }};">
            <img src="{{ data.icon | relative_url }}" alt="">
          </div>
          <h2>{{ data.title }}</h3>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="subheading pb-4">
          {{ data.sub_heading }}
        </div>
        <div class="d-flex flex-wrap gap-2">
            <a class="button btn-light btn-dark-arrow-up" href="{{ data.button_one_url | relative_url }}">{{ data.button_one_text }}</a>
            <a class="button btn-outline-light" href="{{ data.button_two_url | relative_url }}">
              {{ data.button_two_text }}
              {% include icons/arrow.svg %}
            </a>
        </div>
      </div>
    </div>
  </div>
</div>